{% extends 'base.html' %}

{%block head%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>



{% endblock%}


{%block content%}

{%if perms.mobile.is_strategic %}
<ul class="nav navbar-nav">
    <li><a href="/mobile/">Strategic Projects Dashboard</a></li>
</ul>
{% endif %}
<ul class="nav navbar-nav">
    <li><a href="/hahe/">HA/HE Dashboard</a></li>
</ul>

<ul class="nav navbar-nav">
    <li><a href="/general/">Mobile Dashboard</a></li>
</ul>

<ul class="nav navbar-nav">
    <li><a href="/others/">Other Projects Dashboard</a></li>
</ul>

{% endblock%}

{% block body %}

<div class="container-fluid" >

<h2 align ="center">Care Launch Snapshot</h2>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" onclick="location.href='/hahe/homepage/HA/'">HA</button>
  <button type="button" class="btn btn-secondary" onclick="location.href='/hahe/homepage/HE/'">HE</button>
  <button type="button" class="btn btn-secondary" onclick="location.href='/general/homepage/'">Mobile</button>
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <p></p>
    <p></p>
  <div align = "center" class="btn-group" role="group" aria-label="Button group with nested dropdown">
      {% for D in MainDevices%}
    <button type="button" class="btn btn-secondary" onclick="location.href='/hahe/homepage/{{D.Device.id}}/'">{{D.Device.Name}}</button>
    {%endfor%}

</div>

    </div>
<script type="text/javascript">
    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Product Readiness'
    },
    subtitle: {
        text: 'Click the columns to view week over week status'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Completion %'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [{
        name: 'Products',
        colorByPoint: true,
        data: [
{% for D in MainDevices %}
        {
            name: '{{D.Device.Name}}',
            y: {{D.Device.completed}},
            drilldown: '{{D.Device.Name}}'
        },
{% endfor%}
        ]
    }],
    drilldown: {
        series: [
<!--{% for D in MainDevices %}-->
        {
            <!--name: '{{D.Device.Name}}',-->
            <!--id: '{{D.Device.Name}}',-->
            name: 'S8',
            id: 'S8',
            data: [
            <!--{%for z in D.Device.devicehistory_set.all%}-->
                <!--[-->
                    <!--'Week #{{z.Created.isocalendar.1}}, {{z.Created|date:"M"}}',-->
                    <!--{{z.Completed}}-->
                <!--],-->
            <!--{%endfor%}-->
            [
                'Week #28, Jul',
                0
            ],
            [
                'Week #29, Jul',
                3
            ],
            [
                'Week #30, Jul',
                5
            ],
            [
                'Week #31, Aug',
                6
            ],
            [
                'Week #32, Aug',
                11
            ],

            ]
        },
<!--{% endfor%}-->
        {
            <!--name: '{{D.Device.Name}}',-->
            <!--id: '{{D.Device.Name}}',-->
            name: 'CurveBall',
            id: 'CurveBall',
            data: [
            <!--{%for z in D.Device.devicehistory_set.all%}-->
                <!--[-->
                    <!--'Week #{{z.Created.isocalendar.1}}, {{z.Created|date:"M"}}',-->
                    <!--{{z.Completed}}-->
                <!--],-->
            <!--{%endfor%}-->
            [
                'Week #28, Jul',
                0
            ],
            [
                'Week #29, Jul',
                3
            ],
            [
                'Week #30, Jul',
                5
            ],
            [
                'Week #31, Aug',
                6
            ],
            [
                'Week #32, Aug',
                11
            ],

            ]
        },
                {
            <!--name: '{{D.Device.Name}}',-->
            <!--id: '{{D.Device.Name}}',-->
            name: 'Climax Refrigirator',
            id: 'Climax Refrigirator',
            data: [
            <!--{%for z in D.Device.devicehistory_set.all%}-->
                <!--[-->
                    <!--'Week #{{z.Created.isocalendar.1}}, {{z.Created|date:"M"}}',-->
                    <!--{{z.Completed}}-->
                <!--],-->
            <!--{%endfor%}-->
            [
                'Week #28, Jul',
                0
            ],
            [
                'Week #29, Jul',
                3
            ],
            [
                'Week #30, Jul',
                9
            ],
            [
                'Week #31, Jul',
                11
            ],
            [
                'Week #32, Jul',
                19
            ],

            ]
        },
                {
            <!--name: 'Microwave Z',-->
            <!--id: 'Microwave Z',-->
            name: 'Microwave Z',
            id: 'Microwave Z',
            data: [
            <!--{%for z in D.Device.devicehistory_set.all%}-->
                <!--[-->
                    <!--'Week #{{z.Created.isocalendar.1}}, {{z.Created|date:"M"}}',-->
                    <!--{{z.Completed}}-->
                <!--],-->
            <!--{%endfor%}-->
            [
                'Week #28, Jul',
                0
            ],
            [
                'Week #29, Jul',
                1
            ],
            [
                'Week #30, Jul',
                2
            ],
            [
                'Week #31, Jul',
                3
            ],
            [
                'Week #32, Jul',
                4
            ],

            ]
        },
                {
            <!--name: 'washing Machine X',-->
            <!--id: '{{D.Device.Name}}',-->
            name: 'washing Machine X',
            id: 'washing Machine X',
            data: [
            <!--{%for z in D.Device.devicehistory_set.all%}-->
                <!--[-->
                    <!--'Week #{{z.Created.isocalendar.1}}, {{z.Created|date:"M"}}',-->
                    <!--{{z.Completed}}-->
                <!--],-->
            <!--{%endfor%}-->

            [
                'Week #32, Jul',
                9
            ],

            ]
        },
        ]
    }
});
</script>
{% endblock %}